#Data Types and Structures

##          Assignment 2

1 What are data structures, and why are they important?
 -   Data structure of organizing and storing data so that it can be accessed and maipulated effieciently .
-  Efficient Data Management: Organizes data in a way that makes access and manipulation easier.
- Solves Complex Problems: Enables implementation of advanced algorithms, making it possible to solve real-world challenges like navigation, scheduling, and more.
- Scalability: Supports building software that can handle large and growing datasets efficiently.
- Reusability: Many data structures are reusable across different applications, saving development time.

2  Explain the difference between mutable and immutable data types with examples.
 -   Mutable and immutable data types refer to whether an object can be modified after it is created.
- Mutable Data Types: Objects whose values can be changed after creation.
- Immutable: Objects whose values cannot be changed after creation. Any operation that appears to modify an immutable object creates a new object.

In [ ]:
# Mutable example
my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)

[10, 2, 3]

In [ ]:
# Immutable example
my_tuple = (1, 2, 3)
# my_tuple[0] = 10  # This would raise a TypeError
print(my_tuple)

(1, 2, 3)

3 What are the main differences between lists and tuples in Python?
 -  Lists: Mutable, meaning you can modify their content (add, remove, or change elements).
  - Lists: Defined with square brackets [ ].
   -Lists: Slower than tuples for iteration and operations due to their mutable nature.
 - Tuples: Immutable, meaning their content cannot be modified after creation
  -  Tuples: Defined with parentheses ( ).
  - Tuples: Faster because they are immutable and their memory usage is more efficient.

4 Describe how dictionaries store data.
-  Dictionaries in Python store data as key-value pairs in a structure called a hash table. This design allows for fast access, insertion, and deletion of elements, typically in constant time
ùëÇ(1)O(1).

In [ ]:
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
print(my_dict["age"])

25

5 Why might you use a set instead of a list in Python?
 -  we might use a set instead of a list in Python when.
  -  No Duplicates Allowed: Sets automatically remove duplicate elements.
   - Fast Membership Tests: Checking if an item exists in a set is faster (average O(1) complexity) compared to a list (O(n) complexity).
    - Unordered Collection: You don't need to maintain the order of elements.

6 What is a string in Python, and how is it different from a list?
 -  A string in Python is a sequence of characters enclosed in quotes (single, double, or triple quotes). For example, "hello" or 'world'. Strings are used to represent text. String is immutable it cannot changed. It only contains characters but list are mutable it will changed . List conatin any type of element.

7 How do tuples ensure data integrity in Python?
 -  Tuples ensure data integrity in Python primarily through immutability. Once a tuple is created, its elements cannot be modified, added, or removed. This makes tuples a reliable choice for storing data that should remain constant throughout the program.

8 What is a hash table, and how does it relate to dictionaries in Python?
 -  A hash table is a data structure that provides a way to store and retrieve data efficiently using a key-value pair mechanism. It uses a hash function to compute a unique index (or hash code) for each key, which determines where the corresponding value is stored.

9 Can lists contain different data types in Python?
 -  Yes, lists in Python can contain different data types.

In [ ]:
my_list = [1, "hello", 3.14, True]

# This list contains an integer, a string, a float, and a boolean value.

10 Explain why strings are immutable in Python.
 -  Strings in Python are ‚Äúimmutable‚Äù which means they can not be changed after they are created. Some other immutable data types are integers, float, boolean, etc.
 The immutability of Python string is very useful as it helps in hashing, performance optimization, safety, ease of use, etc.

11 What advantages do dictionaries offer over lists for certain tasks?
 -  Dictionaries have several advantages over lists for certain tasks, including faster lookups, easier code reading, and more flexibility in storing data

12 Describe a scenario where using a tuple would be preferable over a list.
 -  A scenario where a tuple would be preferable over a list is when you need to store a collection of data that should never be modified after it's created, like representing a set of fixed coordinates in a game, storing configuration settings that shouldn't be changed during program execution, or defining a data structure where immutability is important for data integrity, ensuring that the values remain consistent throughout the program.

13 How do sets handle duplicate values in Python?
-  Sets in Python automatically handle duplicate values by discarding them. When you create a set or add elements to it, any duplicate values are simply ignored, ensuring that the set contains only unique elements.

14 How does the ‚Äúin‚Äù keyword work differently for lists and dictionaries?
-  When using the "in" keyword, it checks if an element exists within a list by comparing it to each item in the list based on its position, while in a dictionary, it checks if a specific key exists within the key-value pairs, meaning it only looks for the key and not the associated value.

15 Can you modify the elements of a tuple? Explain why or why not?
-  No, you cannot modify the elements of a tuple in Python because tuples are "immutable," meaning once created, their elements cannot be changed, added, or removed; if you try to modify a tuple element, you will encounter a TypeError.

16 What is a nested dictionary, and give an example of its use case?
-  Nesting Dictionary means putting a dictionary inside another dictionary. Nesting is of great use as the kind of information we can model in programs is expanded greatly.

17 Describe the time complexity of accessing elements in a dictionary.
-  The time complexity of retrieving a value by its key in a dictionary is O(1). This is because dictionaries use a hash table internally which allows constant time lookup. Why O(1)? Hash tables use the hash of the key to find the memory location which enables direct access

18 In what situations are lists preferred over dictionaries?
-  Lists are preferred over dictionaries when the order of elements is crucial, when you need to frequently perform operations like appending or extending elements, or when you need to access data based on its position in the sequence (using indexes), rather than a unique key to look up a value

19 Why are dictionaries considered unordered, and how does that affect data retrieval?
-  Dictionaries in Python are historically considered unordered collections because the order of items was not guaranteed to be preserved in earlier versions of Python (prior to version 3.7). Starting with Python 3.7, dictionaries are ordered by insertion order as an implementation detail (and it was officially guaranteed starting with Python 3.8). However, some older explanations and habits still describe them as unordered due to their original behavior.

20 Explain the difference between a list and a dictionary in terms of data retrieval.
-  A list retrieves data using its index position (a number starting from 0), while a dictionary retrieves data using a specific key, meaning you access elements in a list based on their order in the sequence, whereas in a dictionary, you access elements by providing a unique identifier (the key) that maps to the desired value; this makes dictionaries significantly faster for lookups when you need to find a specific piece of data quickly based on a known key.

# Practical Questions

1 Write a code to create a string with your name and print it.

In [1]:
Name = "Anmol kumar sharma"
print(Name)

Anmol kumar sharma

2 Write a code to find the length of the string "Hello World".

In [2]:
len_nam = "Hello World"
print(len(len_nam))

11

3 Write a code to slice the first 3 characters from the string "Python Programming".

In [4]:
slic = "Python Programming"
print(slic[0:3])

Pyt

4 Write a code to convert the string "hello" to uppercase.

In [10]:
up_str = "hello"
up_str.upper()

'HELLO'

5 Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [7]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

6 Write a code to create a list with numbers 1 to 5 and print it.

In [8]:
number = [1,2,3,4,5]
print(number)

[1, 2, 3, 4, 5]

7 Write a code to append the number 10 to the list [1, 2, 3, 4].

In [11]:
num = [1,2,3,4]
num.append(10)
print(num)

[1, 2, 3, 4, 10]

8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [13]:
num = [1,2,3,4,5]
num.remove(3)
print(num)

[1, 2, 4, 5]

9 Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [14]:
alp = ['a','b','c','d']
print(alp[1])

b

10 Write a code to reverse the list [10, 20, 30, 40, 50].

In [16]:
num =  [10, 20, 30, 40, 50]
num.reverse()
print(num)

[50, 40, 30, 20, 10]

11 Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [17]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

12  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [18]:
fruits = ('apple', 'banana', 'cherry')
first_fruit = fruits[0]
print(first_fruit)

apple

13 Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [19]:
numbers = (1, 2, 3, 2, 4, 2)
count = numbers.count(2)
print(count)

3

14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [20]:
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

15  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [21]:
fruits = ('apple', 'orange', 'banana')
is_banana_in_tuple = 'banana' in fruits
print(is_banana_in_tuple)

True

16 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [22]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

17 Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [23]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

18 Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [27]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

19 Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [26]:
fruits = ('apple', 'banana', 'cherry')
first_fruit = fruits[0]
print(first_fruit)

apple

20 Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [24]:
numbers = (1, 2, 3, 2, 4, 2)
count = numbers.count(2)
print(count)

3

21 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [25]:
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

22 Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
# this question solve in question number 15

23 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [28]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

24 Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
# Again same question i solve in question number 17